<div class="header">
  <ul class="nav nav-pills pull-right">
    <input id="createUser" class="btn btn-default" type="button" value="Create User" data-toggle="modal" data-target="#userCreateModal">
  </ul>
  <h3 class="text-header">User Admin</h3>
</div>
<div class="content-container">
  <br/>
  <user-list></user-list>
  <br/>
</div>
<div class="footer">
  <h4 class="text-center text-header">User admin tool</h4>
</div>
<user-create-modal></user-create-modal>
