<div>
    <table class="table table-striped" ng-if="users.length">
      <tr>
          <td><button class="btn btn-default" ng-click="predicate='firstName';descending=!descending">First name</button></td>
          <td><button class="btn btn-default" ng-click="predicate='lastName';descending=!descending">Last name</button></td>
          <td><button class="btn btn-default" ng-click="predicate='email';descending=!descending">Email</button></td>
          <td><button class="btn btn-default" ng-click="predicate='birthDateTime';descending=!descending">Birth date</button></td>
          <td>Action</td>
      </tr>
      <tr ng-repeat="user in users | orderBy:predicate:descending">
          <td>{{ user.firstName | capitalize }}</td>
          <td>{{ user.lastName | capitalize }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.birthDate }}</td>
          <td><button class="btn btn-danger" type="submit" ng-click="deleteUser(user)">Delete</button></td>
      </tr>
    </table>
    <h4 ng-if="!users || (users.length == 0)" class="text-center text-danger">
      Currently there are no users in the database.
    </h4>
</div>
